body{
    background-color: rgb(188, 207, 243);
}
header{
    background-color: rgb(215, 247, 248);
    color: rgb(14, 8, 20);
    height:100px;
    width: 900px;
    align-content:center;
    display:flex;
}

h2{
    color:rgb(4, 7, 1);
}
.shark-pic{
    border-radius: 10px;
    border-color:black;

}
.actions{
    font-weight: bold;
}

.user-pic{
    border-radius: 10px;
}